@model IEnumerable<Framework.Models.Provinsi>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idProvinsi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.namaProvinsi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idProvinsi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.namaProvinsi)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id=item.idProvinsi}) |
                @Html.ActionLink("Delete", "Delete", new {id=item.idProvinsi})
            </td>
        </tr>
}
    </tbody>
</table>
